# This is a basic workflow to help you get started with Actions

name: Project CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    strategy: 
      matrix:
        latex-builder: latexmk

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v1
        with:
          submodules: recursive
      
      - name: Get Latest cmake
        uses: lukka/get-cmake@latest
      
      - name: install latexmk
        run: |
          sudo apt-get update -y
          sudo apt-get install latexmk
        
      - name: compile example project
        run: |
          make

   
